//overwriting theme colors with
//#FFC300 can not replace pink because i'm using it for header!?
//blue:#309C1F for heading replaced by logo yellow:#FFC300


//style background image on landing page

//homepage header img creative.less line 162

.logo {
  image-orientation: center;
  width: 40%;
  height: 40%;
}
